.letter-cell {
    text-transform: capitalize;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(229 229 229);
    margin: 4px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
}

.active-cell {
    border: 1px solid rgb(133, 133, 133);
}

.entry {
    padding: 0;
    border: none;
    text-align: center;
    font-size: 1.1em;
    text-transform: capitalize;
}