.letter-cell {
    text-transform: capitalize;
    width: 40px;
    height: 40px;
    border: 3px solid rgb(119, 119, 119);
    margin: 5px;
    padding: 10px;
    border-radius: 2px;
}

.active-cell {
    border: 1px solid rgb(133, 133, 133);
}

.entry {
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 1.1em;
    text-transform: capitalize;
}

.exact-match {
    background-color: #6aaa64;
    border: 3px solid #6aaa64;
}

.non-exact-match {
    background-color: #b59f3b;
    border: 3px solid #b59f3b;
}

.no-match {
    background-color: rgb(133, 133, 133);
    border: 3px solid rgb(133, 133, 133);
}